production:
  type: sqlite
  name: production
  database: .db/deal_maker.sqlite3.production
  entities:
    - lib/**/*.entity.js
  migrations:
    - lib/migrations/*.js
  cli:
    migrationsDir: lib/migrations
  logging: false
  synchronize: false
  migrationsRun: true

development:
  type: sqlite
  name: development
  database: .db/deal_maker.sqlite3.development
  entities:
    - src/**/*.entity.ts
  logging: true
  logger: advanced-console
  synchronize: true

test:
  type: sqlite
  name: test
  database: ':memory:'
  entities:
    - src/**/*.entity.ts
  synchronize: true
